
.navigation1 {
    font-size: 23px;
    color: rgb(138, 138, 138);
    margin-top: 2px;
}

.navigation2 {
    font-size: 23px;
    color: rgb(138, 138, 138);
    margin-top: 2px;
    margin-right: 650px;
    padding-left: 13px;
}

.navigation1:hover {
    color: white;
    cursor: pointer;
    font-size: bold;
}

.navigation2:hover {
    color: white;
    cursor: pointer;
}