
.hovering {
    position: relative;
}

.rounded {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hovering:hover .rounded {
    opacity: 0.2;
}

.hovering:hover .middle {
    opacity: 1;
}

p{
    font-weight: 900;
}