.cards-container {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.hovering {
    position: relative;
}

.rounded {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hovering:hover .rounded {
    opacity: 0.4;
}

.hovering:hover .middle {
    opacity: 1;
}

i{
    color: orange;
    font-size: 50px;
}