.form {
    position: fixed;
    top: 8px;
    margin-left: 400px;
}

.form .fa-search {
    position: absolute;
    top: 10px;
    left: 220px;
    color: #ffffff;
    font-size: 20px;
}

.form-input {
    height: 40px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}