.leftMenu {
    position: fixed;
    top: 0%;
    width: 250px;
    height: 100%;
    background: rgb(0, 0, 0);
    padding: 15px 20px;
    overflow: hidden;
}

.logoContainer {
    color: #f1f1f1;
}

.logoContainer .logo {
    display: flex;
    align-items: center;
}

.logoContainer .logo i {
    font-size: 30px;
    color: rgb(10, 207, 10);
}

.logoContainer .logo h2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 12px;
    color: rgb(10, 207, 10);
}

.homeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f1f1f1;
}
.homeContainer .home {
    display: flex;
    align-items: center;
}
.homeContainer .home i {
    font-size: 30px;
    color: white;
}
.homeContainer .home p {
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 25px;
}

.terms{
    margin-top: 230px;
}